<!DOCTYPE html>
<html lang="pt">

<body>
    <head>
        <div classname="clock-container">Rélogio Digital</div>
        <span id="hora">00 :</span>
        <span id="minuto"> 00 :</span>
        <span id="segundo">00</span>
        <button id="relogio-start" onclick="relogio()"></button>

        <div classname="cronometer-container">
            <span>Cronometro</span>
            <span id="cronometer">24 : 00 : 00</span>
            <button id="cronometro-start" onclick="cronometer()"></button>
        </div>
    </head>
</body>

<script src="../static/js/script.js"></script>

</html>
